body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

.main-heading {
  font-size: 40px;
}
.secondary-heading {
  font-size: 20px;
}
.photo {
  widows: 300px;
  height: 300px;
}
.paragraph {
  font-size: 14px;
  color: black;
}
.mobile{

  width: 358px; margin: auto; background: url("../App/iphone5.png") no-repeat; height: 800px;
}
.mobile2{

  /* width: 308px; margin: 90px 25px; border: solid 2px #000; border-radius: 4px; position: absolute; height: 547px; */
  max-width: 308px;
  margin: 90px 25px;
  border: solid 2px #000;
  border-radius: 4px;
  position: absolute;
}